body{
    text-align: center;
    background-image: url(mountains-background-game-vector.jpg);
    background-size: cover;
}

.btn{
    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: 5px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}